<a href="https://colab.research.google.com/github/ArifAygun/Machine-Learning-with-Python-Foundations/blob/main/AA_linked_ML_with_Python_Foundations_03_02b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to Summarize Data in Python

## Learning Objectives
When exploring data, one of the most important things we can do is summarize it so we can better understand it. A common way to summarize data is by computing aggregations such as mean, median, maximum and minimum. These aggregations or statistical measures (as they are commonly referred to) describe the general and specific characteristics of our data. This is why these types of aggregations are sometimes referred to as **descriptive statistics** or **summary statistics**. The pandas DataFrame provides several methods for computing descriptive statistics. By the end of this tutorial, you will have learned:

+ how to describe a DataFrame
+ how to get simple aggregations
+ how to get group-level aggregations

## How to Describe a DataFrame

In [3]:
#import pandas as pd
#washers = pd.read_csv("washers.csv")

from google.colab import drive
drive.mount('/content/drive')

from numpy import logical_and
import pandas as pd
import os

def file_locator(file_name):
  main_dir = os.getcwd()

  for dir, folder, files in os.walk(main_dir):
    for file in files:
      if file == file_name:
        file_path = os.path.join(dir,file)
  return file_path

file_path = file_locator('washers.csv')
washers = pd.read_csv(file_path)
washers.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,ID,BrandName,ModelNumber,UPC,Configuration,Features,Market,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse,DateAvailable,DateCertified,Countries,MostEfficient
0,2342279,GE,GTW845C*N***,1,Top Load,"Gentle Cycle,Delayed Start,Sanitize Option",Residential,5.0,2.06,1.29,192,4.3,8.4,6368,8/5/19,7/31/19,"United States, Canada",No
1,2331684,GE,GUD27EE*N***,84691844198,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
2,2331685,GE,GUD27EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No
3,2331687,GE,GUD27GE*N***,84691844181,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
4,2331686,GE,GUD37EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No

In [4]:
washers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             261 non-null    int64
 1   BrandName      261 non-null    object
 2   ModelNumber    261 non-null    object
 3   UPC            261 non-null    object
 4   Configuration  261 non-null    object
 5   Features       261 non-null    object
 6   Market         261 non-null    object
 7   Volume         261 non-null    float64
 8   IMEF           261 non-null    float64
 9   MinimumIMEF    261 non-null    float64
 10  EnergyUse      261 non-null    int64
 11  IWF            261 non-null    float64
 12  MaximumIWF     261 non-null    float64
 13  WaterUse       261 non-null    int64
 14  DateAvailable  261 non-null    object
 15  DateCertified  261 non-null    object
 16  Countries      261 non-null    object
 17  MostEfficient  261 non-null    object
dtypes: float64(5), int64(3), object(10)
memory usage: 36.8+ KB

In [5]:
washers.describe()

,ID,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse
count,2.610000e+02,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,2.320802e+06,4.374713,2.456820,1.591341,129.214559,3.598851,6.372797,4632.727969
std,1.574793e+04,0.965866,0.380599,0.274261,43.850620,0.538265,1.845032,1292.693059
min,2.300602e+06,1.900000,2.060000,1.290000,60.000000,2.700000,4.700000,1728.000000
25%,2.310408e+06,4.300000,2.060000,1.290000,99.000000,3.200000,4.700000,3852.000000
50%,2.310499e+06,4.500000,2.380000,1.840000,120.000000,3.600000,4.700000,4429.000000
75%,2.332089e+06,5.000000,2.920000,1.840000,150.000000,4.300000,8.400000,5632.000000
max,2.359624e+06,6.200000,3.100000,1.840000,311.000000,4.300000,8.400000,7827.000000

For numeric columns, the `describe()` method returns the following descriptive statistics:

|Name      |   Description  |
|-----------------|---------------------|
| `count`         | Number of non-missing values                       |
| `mean`       | Average of the non-missing values                   |
| `std`       | Standard deviation of the values   |
| `min`        | Smallest value                  |
| `25%`         | 25th percentile                       |
| `50%`       | 50th percentile (same as the median)                   |
| `75%`       | 75th percentile   |
| `max`        | Largest value                   |

In [6]:
washers[['BrandName']].describe()

       BrandName
count        261
unique        22
top           LG
freq          50

## How to get Simple Aggregations
The `describe()` method returns a statistical summary for each of the columns in a DataFrame. It's important to note that the descriptive statistics returned by the `describe()` method depends on the data type of a column. For non-numeric columns, the descriptive statistics returned by the method are as follows:

|Name      |   Description  |
|-----------------|---------------------|
| `count`         | Number of non-missing values                       |
| `unique`       | Number of unique non-missing values                   |
| `top`       | Most commonly occuring value   |
| `freq`        | Frequency of the most commonly occuring value                   |

In [9]:
washers[['BrandName']].value_counts()

BrandName
LG                 50
GE                 49
Samsung            47
Kenmore            30
Whirlpool          26
Maytag             18
Electrolux          7
Bosch               4
Miele               4
Asko                4
Beko                3
Blomberg            3
Crosley             3
Midea               2
Magic Chef          2
Amana               2
Fisher & Paykel     2
Insignia            1
Inglis              1
Gaggenau            1
GE Adora            1
Haier               1
dtype: int64

In [12]:
washers[['BrandName']].value_counts(normalize=True).round(3)

BrandName
LG                 0.192
GE                 0.188
Samsung            0.180
Kenmore            0.115
Whirlpool          0.100
Maytag             0.069
Electrolux         0.027
Bosch              0.015
Miele              0.015
Asko               0.015
Beko               0.011
Blomberg           0.011
Crosley            0.011
Midea              0.008
Magic Chef         0.008
Amana              0.008
Fisher & Paykel    0.008
Insignia           0.004
Inglis             0.004
Gaggenau           0.004
GE Adora           0.004
Haier              0.004
dtype: float64

In [13]:
washers[['Volume']].mean().round(3)

Volume    4.375
dtype: float64

## How to get Group-level Aggregations

In [18]:
#washers_grouped = (washers.groupby('BrandName')[['Volume']].mean().round(3), ascending=False)

washers_grouped1 = washers.groupby('BrandName')[['Volume']].mean().round(3).sort_values(by='Volume', ascending=False)
washers_grouped1

                 Volume
BrandName
Midea             5.200
Maytag            4.989
Insignia          4.800
Kenmore           4.797
Samsung           4.730
LG                4.596
Whirlpool         4.454
Crosley           4.400
GE                4.329
Inglis            4.300
Amana             4.250
GE Adora          4.200
Electrolux        3.786
Magic Chef        2.700
Asko              2.525
Fisher & Paykel   2.400
Haier             2.400
Blomberg          2.300
Miele             2.300
Gaggenau          2.200
Bosch             2.200
Beko              2.133

In [19]:

washers_grouped1 = washers.groupby('BrandName')[['Volume']].mean().round(3).sort_values(by='BrandName', ascending=False)
washers_grouped1

                 Volume
BrandName
Whirlpool         4.454
Samsung           4.730
Miele             2.300
Midea             5.200
Maytag            4.989
Magic Chef        2.700
LG                4.596
Kenmore           4.797
Insignia          4.800
Inglis            4.300
Haier             2.400
Gaggenau          2.200
GE Adora          4.200
GE                4.329
Fisher & Paykel   2.400
Electrolux        3.786
Crosley           4.400
Bosch             2.200
Blomberg          2.300
Beko              2.133
Asko              2.525
Amana             4.250

In [ ]:
washers.groupby('BrandName')[['Volume']].mean()

In [20]:
washers.groupby('BrandName')[['Volume']].agg(['mean', 'median', 'min', 'max'])

                   Volume
                     mean median  min  max
BrandName
Amana            4.250000   4.25  4.2  4.3
Asko             2.525000   2.70  2.0  2.7
Beko             2.133333   2.00  1.9  2.5
Blomberg         2.300000   2.50  1.9  2.5
Bosch            2.200000   2.20  2.2  2.2
Crosley          4.400000   4.50  4.2  4.5
Electrolux       3.785714   4.30  2.4  4.4
Fisher & Paykel  2.400000   2.40  2.4  2.4
GE               4.328571   4.50  2.2  5.2
GE Adora         4.200000   4.20  4.2  4.2
Gaggenau         2.200000   2.20  2.2  2.2
Haier            2.400000   2.40  2.4  2.4
Inglis           4.300000   4.30  4.3  4.3
Insignia         4.800000   4.80  4.8  4.8
Kenmore          4.796667   4.80  2.4  6.2
LG               4.596000   4.50  2.3  5.8
Magic Chef       2.700000   2.70  2.7  2.7
Maytag           4.988889   4.90  4.4  6.2
Midea            5.200000   5.20  5.2  5.2
Miele            2.300000   2.30  2.3  2.3
Samsung          4.729787   4.80  2.2  5.6
Whirlpool        4.453846   4.50  2.0  5.3