<a href="https://colab.research.google.com/github/ArifAygun/Machine-Learning-with-Python-Foundations/blob/main/AA_linked_ML_with_Python_Foundations_02_02b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to Import Data in Python

## Learning Objectives
One of the reasons why Python is such a popular programming language for machine learning is because it supports some very powerful and easy to use packages which are purpose-built for data analysis. One of these packages is the **pandas** package. In this exercise, you will get a brief introduction to the pandas package and how to import data using functions provided by the pandas package. By the end of this tutorial, you will have learned:

+ what a pandas Series is
+ what a pandas DataFrame is
+ how to import data from a CSV file
+ how to import data from an Excel file

## The pandas Package

In [1]:
import pandas as pd

## The pandas Series

In [3]:
members = ["Brazil", "Russia", "India", "China", "South Africa"]
brics1 = pd.Series(members)
brics1

0          Brazil
1          Russia
2           India
3           China
4    South Africa
dtype: object

In [4]:
type(brics1)

pandas.core.series.Series

## The pandas DataFrame

In [5]:
members = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
        "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
        "gdp": [2750, 1658, 3202, 15270, 370],
        "literacy":[.944, .997, .721, .964, .943],
        "expectancy": [76.8, 72.7, 68.8, 76.4, 63.6],
        "population": [210.87, 143.96, 1367.09, 1415.05, 57.4]}

brics2 = pd.DataFrame(members)
brics2

        country    capital    gdp  literacy  expectancy  population
0        Brazil   Brasilia   2750     0.944        76.8      210.87
1        Russia     Moscow   1658     0.997        72.7      143.96
2         India  New Delhi   3202     0.721        68.8     1367.09
3         China    Beijing  15270     0.964        76.4     1415.05
4  South Africa   Pretoria    370     0.943        63.6       57.40

In [6]:
type(brics2)

pandas.core.frame.DataFrame

In [8]:
members = [["Brazil", "Brasilia", 2750, 0.944, 76.8, 210.87],
                     ["Russia", "Moscow", 1658, 0.997, 72.7, 143.96],
                     ["India", "New Delhi", 3202, 0.721, 68.8, 1367.09],
                     ["China", "Beijing", 15270, 0.964, 76.4, 1415.05],
                     ["South Africa", "Pretoria", 370, 0.943, 63.6, 57.4]]
labels = ["country", "capital", "gdp", "literacy", "expectancy", "population"]

brics3 =pd.DataFrame(members, columns = labels)
brics3

        country    capital    gdp  literacy  expectancy  population
0        Brazil   Brasilia   2750     0.944        76.8      210.87
1        Russia     Moscow   1658     0.997        72.7      143.96
2         India  New Delhi   3202     0.721        68.8     1367.09
3         China    Beijing  15270     0.964        76.4     1415.05
4  South Africa   Pretoria    370     0.943        63.6       57.40

## How to import data from a CSV file

In [9]:
#import pandas as pd
#loan = pd.read_csv("brics.csv")


from google.colab import drive
drive.mount('/content/drive')

from numpy import logical_and
import pandas as pd
import os

def file_locator(file_name):
  main_dir = os.getcwd()

  for dir, folder, files in os.walk(main_dir):
    for file in files:
      if file == file_name:
        file_path = os.path.join(dir,file)
  return file_path

file_path = file_locator('brics.csv')
brics4 = pd.read_csv(file_path)
brics4.head()

Mounted at /content/drive

        country    capital    gdp  literacy  expectancy  population
0        Brazil   Brasilia   2750     0.944        76.8      210.87
1        Russia     Moscow   1658     0.997        72.7      143.96
2         India  New Delhi   3202     0.721        68.8     1367.09
3         China    Beijing  15270     0.964        76.4     1415.05
4  South Africa   Pretoria    370     0.943        63.6       57.40

## How to import data from an Excel file

In [10]:
from google.colab import drive
drive.mount('/content/drive')

from numpy import logical_and
import pandas as pd
import os

def file_locator(file_name):
  main_dir = os.getcwd()

  for dir, folder, files in os.walk(main_dir):
    for file in files:
      if file == file_name:
        file_path = os.path.join(dir,file)
  return file_path

file_path = file_locator('brics.xlsx')
brics5 = pd.read_excel(file_path)
brics5.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

        country    capital    gdp  literacy  expectancy  population
0        Brazil   Brasilia   2750     0.944        76.8      210.87
1        Russia     Moscow   1658     0.997        72.7      143.96
2         India  New Delhi   3202     0.721        68.8     1367.09
3         China    Beijing  15270     0.964        76.4     1415.05
4  South Africa   Pretoria    370     0.943        63.6       57.40

In [12]:
#brics6 = pd.read_excel("brics.xlsx", sheet_name='Summits')
#brics6
from google.colab import drive
drive.mount('/content/drive')

from numpy import logical_and
import pandas as pd
import os

def file_locator(file_name):
  main_dir = os.getcwd()

  for dir, folder, files in os.walk(main_dir):
    for file in files:
      if file == file_name:
        file_path = os.path.join(dir,file)
  return file_path

file_path = file_locator('brics.xlsx')
brics5 = pd.read_excel(file_path, sheet_name='Summits')
brics5.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,summit,date,host,leader,location
0,1st,"June 16th, 2009",Russia,Dmitry Medvedev,Yekaterinburg (Sevastianov's House)
1,2nd,"April 15th, 2010",Brazil,Luiz Inácio Lula da Silva,Brasília (Itamaraty Palace)
2,3rd,"April 14th, 2011",China,Hu Jintao,Sanya (Sheraton Sanya Resort)
3,4th,"March 29th, 2012",India,Manmohan Singh,New Delhi (Taj Mahal Hotel)
4,5th,"March 26th – 27th, 2013",South Africa,Jacob Zuma,Durban (Durban ICC)

In [13]:
#brics6 = pd.read_excel("brics.xlsx", sheet_name='Summits')
#brics6
from google.colab import drive
drive.mount('/content/drive')

from numpy import logical_and
import pandas as pd
import os

def file_locator(file_name):
  main_dir = os.getcwd()

  for dir, folder, files in os.walk(main_dir):
    for file in files:
      if file == file_name:
        file_path = os.path.join(dir,file)
  return file_path

file_path = file_locator('brics.xlsx')
brics5 = pd.read_excel(file_path, sheet_name='Members')
brics5.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

        country    capital    gdp  literacy  expectancy  population
0        Brazil   Brasilia   2750     0.944        76.8      210.87
1        Russia     Moscow   1658     0.997        72.7      143.96
2         India  New Delhi   3202     0.721        68.8     1367.09
3         China    Beijing  15270     0.964        76.4     1415.05
4  South Africa   Pretoria    370     0.943        63.6       57.40